/SAD_P3_Informe.pdf
/SAD_P3_Informe.synctex.gz
/tmp
/SAD_P3_Inform.synctex.gz
/SAD_P3_Informe.aux
/SAD_P3_Informe.ilg
/SAD_P3_Informe.ind
/SAD_P3_Informe.lof
/SAD_P3_Informe.log
/SAD_P3_Informe.lot
/SAD_P3_Informe.out
/SAD_P3_Informe.toc
/SAD_P3_Informe.bbl
/SAD_P3_Informe.blg
